body{
    background-color: darkgrey;
    color: white;        
    margin-top: 20px;
}
.formulario{
    background-color: midnightblue;
    border: solid 2px white;
    padding: 20px;
    margin: auto;
    width: 400px;
}
#titulo{
    font-family:sans-serif;    
    text-align: center;
}
#btnCargar{
    margin: auto;
    margin-top: 10px;
}
label{
    margin-top: 15px;
}

.completar{
    color: red;
}